<%= form_with(model: movieupload, local: true) do |form| %>
  <% if movieupload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movieupload.errors.count, "error") %> prohibited this movieupload from being saved:</h2>

      <ul>
      <% movieupload.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :movieupload_name %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, id: :movieupload_rating %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :movieupload_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
