<!DOCTYPE html>
<html lang="en">
  <head>
    
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= ' | '+yield(:title) unless yield(:title).blank? %></title>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>
  <body>
   <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
            <%= nav_link "Home", root_path %>
          </li>
          <li class="nav-item">
            <!--<a class="nav-link" href="#">Link</a>-->
            <%= nav_link "Rating", ratings_path %>
          </li>
          <li class="nav-item">
            <%= nav_link "Help", about_path %>
          </li>
          
        </ul>
        
      </div>
    </nav>
    
    
      <div class="container-fluid">
        <h1>""</h1>
        <h1> </h1>
        <h1> </h1>
        
        <% if @show_title %>
          <div id="title" class="row">
            <div class="col">
              <h1><%= yield(:title) %><h1>
            </div>
          </div>
        <% end %>
      <div id="flash-messages" class="row">
        <% flash.each do |name,msg| %>
          <div class="alert alert-<%= name =="notice" ? 'primary' : 'danger'%> alert-dismissable col" role="alert">
            <%= msg %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>
      </div>
    </div>
    <main role="main" class="container-fluid">
      <div class="row">
        <div class ="col-9">
          <%= yield %>
        </div>
      </div>
    </main>

  </body>
</html>